body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Roboto;

}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 20px 100px;

}


.logo {
    font-size: 24px;
    color: #F9FAF8;

}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;

}

.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
    gap: 12px;
    padding: 100px;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 5px;
}

.para {
    font-size: 18px;
    color: #Ef9faf8;
    margin: 5px;
}

.sidebar,
.image-section {
    flex: 1;
}


.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;

}

.footer {
    background-color: #1F2937;
    color: white;
}

button {
    background-color: #3882F6;
    color: white;
    margin: 8px 5px;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
}

.gallery {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.cards {
    display: flex;

}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 8px;
    padding: 4px;
}

.card {
    width: 140px;

}


.small-image {
    width: 130px;
    height: 130px;
    border: solid #3882F6 4px;
    border-radius: 16px;
    margin-bottom: 4px;
    padding: 4px;
}

.image-text {
    padding: 4px;
}